body { font-family: Arial, sans-serif; 
    margin: 0; padding: 0; 
    background-color: #314150; 
    color: #333;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    overflow-x: hidden; /* Убираем горизонтальную прокрутку */
}

#neural-net-background {
    position: fixed; /* Фиксируем на экране */
    top: 0;
    left: 0;
    z-index: -1;     /* Очень важно: ставим ниже всего контента (например, хедера) */
    width: 100%;
    height: 100%;
}

header {
    position: relative; 
    z-index: 1;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* --- ДОБАВЛЕННЫЙ АНИМИРОВАННЫЙ ГРАДИЕНТ --- */
    background: linear-gradient(-45deg, #2c3e5080, #4ca2af88, #2c3e5080, #4ca2af7a);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
}

header h1 { 
    margin: 0; font-size: 1.5em; 
}

/* Выравнивает логотип и текст в одну строку */
.logo-title {
    display: flex;
    align-items: center; /* Центрирует по вертикали */
    font-family: 'Playfair Display', serif; 
}
/* Задает размер логотипа и отступ */
.logo-title img {
    height: 80px;    
    width: 80px;
    margin-right: 15px;
}
/* Стили для кнопок-заголовков */
.collapsible {
    background-color: #3498db;
    color: #414141;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 5px;
    border-radius: 5px;
}

.collapsible:hover, .active {
    background-color: #27ae60;
}

#tiersContainer p {
    color: #141414;
}

/* Стили для скрываемого содержимого */
.content {
    padding: 0 18px;
    border-radius: 5px;
    background-color: #45c79c48;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; /* Плавное открытие/закрытие */
    font-size: 20px;
    font-family: 'Playfair Display', serif; 

}

.data-display {
    padding: 10px;
    border: 1px solid #7e7e7e; /* Добавляем рамку для визульного разделения */
    border-radius: 5px;
    margin-bottom: 20px;
}

.wallet-info {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; /* Отступ между элементами */
    align-items: center;
}

#connectButton { 
    /* background: linear-gradient(-45deg, #1376c7, #27aaca, #2db37f, #05db4d);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite; */
    font-family: 'Playfair Display', serif; 
    background-color: #27ae60;
    color: white;
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s; 
    white-space: nowrap; 
}

#connectButton:hover { 
    background-color: #2980b9;
}

#addSepoliaButton {
    background-color: #3498db;
    color: white;
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s; 
    white-space: nowrap; 
    font-family: 'Playfair Display', serif; 
}

#addSepoliaButton:hover{
    background-color: #2980b9;
}

#addTokenButton {
    background-color: #27ae60; /* Зеленый цвет, как у кнопки минта */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; /* Занимает всю ширину контейнера */
    transition: background-color 0.3s;
}

#addTokenButton:hover {
    background-color: #3498db; /* Более темный зеленый при наведении */
}

main { 
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    padding: 20px 0px; gap: 100px; 
}

.app-box { 
    background-color: rgba(136, 136, 136, 0.171); 
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(68, 192, 130, 0.808); 
    width: 100%; max-width: 500px; 
    text-align: center; 
}

.app-box h2 { 
    color: #1b1b1a;
    /* margin-bottom: 30px;  */
}

.app-box h4 {
    color: #1b1b1a;
}

.app-box p { 
    color: #d3d3d3; 
}

.app-box input[type="number"], .app-box select { 
    width: 100%; 
    box-sizing: border-box; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1em; 
}

.app-box button { 
    color: white; 
    border: none; 
    padding: 12px 25px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1.1em; 
    transition: background-color 0.3s; 
    width: 100%; 
    margin-top: 10px; 
}

.app-box button:hover { 
    opacity: 0.9; 
}

#mintStatus, #stakingStatus { 
    margin-top: 15px; 
    font-weight: bold; 
    min-height: 20px; 
}

.calculator { 
    border-top: 1px solid #eee; 
    margin-top: 25px; 
    padding-top: 25px; 
}

.calculator h4 { margin-top: 0; color: #d86233; }

.data-display p { margin: 5px 0; font-size: 0.9em; }

.hidden {display: none; }


.data-display { 
    text-align: left; 
    margin-bottom: 20px; 
    padding: 10px; 
    background: #ecf0f1; 
    border-radius: 5px; 
}

footer { 
    color: white; 
    text-align: center; 
    padding: 20px; 
    margin-top: auto; 
    background: linear-gradient(-45deg, #2c3e50b2, #4ca2afab, #2c3e50a4, #4ca2afa8);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
}

.social-links a { 
    color: white; 
    margin: 0 10px; 
    text-decoration: none; 
    font-size: 1.1em; 
}

.button-mint { background-color: #27ae60; }
.button-mint:hover{background-color: #3498db;}
.button-stake { background-color: #f39c12; }
.button-claim { background-color: #3498db; }
.button-unstake { background-color: #e74c3c; }
.button-approve { background-color: #9b59b6; }


@media (max-width: 1100px) { 
        main { flex-direction: column; 
        align-items: center; 
        gap: 30px; } .app-box { max-width: 90%; } 
    }
@media (max-width: 600px) {
    /* Если кнопка или адрес все еще слишком широкие, дайте им больше гибкости */
    #addSepoliaButton,
    #connectButton, /* или адрес, если он подключен */
    #wallet-info > span /* Сеть и Баланс ETH */
     {
        /* Позволяем элементам сжиматься и занимать доступное место */
        flex-basis: auto; 
        max-width: 100%;
        margin-bottom: 5px; 
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}